BACKEND_URL_RUBY=${RUBY_URL}
DB_CLOUD_SQL_CONNECTION_NAME=${DB_CLOUD_SQL_CONNECTION_NAME}
DB_DATABASE=${DB_DATABASE}
DB_PASSWORD=${DB_PASSWORD}
DB_USERNAME=${DB_USERNAME}
EXPRESS_DB_HOST=${EXPRESS_DB_HOST}
EXPRESS_DSN=${EXPRESS_DSN}
EXPRESS_ENVIRONMENT=${EXPRESS_ENVIRONMENT}
EXPRESS_RELEASE=${EXPRESS_RELEASE}