ASPNETCORE_RELEASE=${ASPNETCORE_RELEASE}
ASPNETCORE_DSN=${ASPNETCORE_DSN}
DB_HOST=${ASPNETCORE_DB_HOST}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD="${DB_PASSWORD}"
RUBY_BACKEND=${RUBY_BACKEND}