ASPNETCORE_RELEASE=${ASPNETCORE_RELEASE}
ASPNETCORE_DSN=${ASPNETCORE_DSN}
BACKEND_URL_RUBY=${RUBY_URL}
DB_DATABASE=${DB_DATABASE}
DB_HOST=${ASPNETCORE_DB_HOST}
DB_PASSWORD="${DB_PASSWORD}"
DB_USERNAME=${DB_USERNAME}