{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection":"Server=<HOST>; port=5432; user id = <USERNAME>; password = <PASSWORD>; database=<DATABASE>; pooling = true"
  },
  "Sentry": {
    "Dsn": "<SENTRY_DSN>",
  },
}
