# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.pyc
# dependencies
/node_modules
react/node_modules
next/.next
next/node_modules
express/node_modules
/.pnp
.pnp.js
.vercel
react/config-overrides.js

# testing
/coverage

# production
/build
react/build
next/dist


# misc
.idea
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
**/.env
venv
**/venv
npm-debug.log*
yarn-debug.log*
yarn-error.log*
next/config-overrides.js

notes.txt
flask/.virtualenv
**/.virtualenv
flask/envtest
node/node_modules
node/package-lock.json

flask/test.py
react/app.yaml
flask/app.yaml
express/app.yaml
ruby/app.yaml
ruby-on-rails/app.yaml

spring-boot/src/main/resources/application.properties
spring-boot/src/main/appengine/app.yaml
spring-boot/backup
spring-boot/target
spring-boot/.classpath
spring-boot/.project
spring-boot/.settings
spring-boot/*.jar
spring-boot/bin
spring-boot/.mvn/wrapper/maven-wrapper.jar

# Ruby, Rails
ruby/.bundle
# Ignore the default SQLite database.
ruby/db/*.sqlite3
ruby/db/*.sqlite3-*
# Ignore all logfiles and tempfiles.
ruby/log/*
ruby/tmp/*
!/log/.keep
!/tmp/.keep
# Ignore pidfiles, but keep the directory.
ruby/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
# Ignore uploaded files in development.
ruby/storage/*
!/storage/.keep
ruby/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
ruby/public/assets
# Ignore master key for decrypting credentials and more.
ruby/config/master.key

env-config/*
!env-config/example.env

**/local.env
tda/env

next/.env.sentry-build-plugin

# .NET
aspnetcore/bin
aspnetcore/obj
aspnetcore/*.suo

# Laravel
/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor

#covarage
.coverage
config.yaml
coverage.xml
flask/requirements_updated.txt
junit.xml
