x-base-env: &x-base-env
  RELEASE: 2023+compose
  RUBY_URL: http://ruby:4567
  DB_HOST: postgres
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_DATABASE: postgres

services:
  react:
    build: react
    init: true
    ports: [3000:3000]
  flask:
    build: flask
    environment:
      <<: *x-base-env
      FLASK_ENVIRONMENT: test
      FLASK_DSN: http://flask@mini-relay:9989/3
    init: true
    ports: [8080:8080]
  ruby:
    build: ruby
    environment:
      <<: *x-base-env
      RUBY_DSN: http://ruby@mini-relay:9989/4
    init: true
  mini-relay:
    build: mini-relay
    init: true
    ports: [9989:9989]
    volumes: [./_mini-relay/data:/data:rw]
  postgres:
    image: "postgres:alpine"
    environment:
      - POSTGRES_PASSWORD=postgres
    init: true
    ports: [5432:5432]
    volumes:
      - ./_postgres/data/empowerplant.sql:/docker-entrypoint-initdb.d/empowerplant.sql:ro
