env: standard
service: ${LARAVEL_APP_ENGINE_SERVICE}
runtime: php83
env_variables:
  APP_STORAGE: "/tmp"
  IS_APP_ENGINE: true
  CACHE_STORE: file
  VIEW_COMPILED_PATH: /tmp/laravel-views
  LOG_PATH: /tmp/laravel.log
manual_scaling:
  instances: 1 