# next requires all env vars start with NEXT_PUBLIC_
NEXT_PUBLIC_DSN=${NEXT_DSN}
NEXT_PUBLIC_RELEASE=${NEXT_RELEASE}
NEXT_PUBLIC_ENVIRONMENT=${NEXT_ENVIRONMENT}
NEXT_PUBLIC_FLASK_BACKEND=${FLASK_BACKEND}
NEXT_PUBLIC_EXPRESS_BACKEND=${EXPRESS_BACKEND}
NEXT_PUBLIC_RUBY_BACKEND=${RUBY_BACKEND}
NEXT_PUBLIC_SPRINGBOOT_BACKEND=${SPRINGBOOT_BACKEND}
NEXT_PUBLIC_ASPNETCORE_BACKEND=${ASPNETCORE_BACKEND}
NEXT_PUBLIC_LARAVEL_BACKEND=${LARAVEL_BACKEND}
NEXT_PUBLIC_RUBYONRAILS_BACKEND=${RUBYONRAILS_BACKEND}