.cart-container {
  text-align: center;
}
.cart-item {
  border-top: 1px solid #002626;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  text-align: right;
}

.cart-item > * {
  flex: 1;
}

.cart-item a {
  text-align: left;
  text-decoration: none;
}

.cart-item img {
  width: calc(100% - 1rem);
  height: auto;
  display: block;
}

.quantity-adjust span {
  margin: 0 0.5rem;
}

p.cart-subtotal {
  font-size: 1.953rem;
}
