.cart-container {
  text-align: center;
}
.cart-item {
  border-top: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.cart-item > * {
  flex: 1;
}

.cart-item a {
  text-align: left;
}
