.checkout-container {
  text-align: center;
}

.checkout-form {
  margin: 2rem auto;
  max-width: 80%;
}

@media screen and (min-width: 1200px) {
  .checkout-form {
    max-width: 50%;
  }
}

.complete-checkout-btn {
  margin-left: 1rem;
  font-size: 1.5em;
}
