.about-page {
  text-align: left;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.about-page > div {
  flex: 1;
}

.about-info {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

@media screen and (min-width: 1200px) {
  .about-page {
    flex-direction: row;
  }

  .about-info {
    padding: 0 2rem 0 0;
  }
}

ul.employee-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}

ul.employee-list li {
  flex: 0 0 50%;
  padding: 0 1rem;
  box-sizing: border-box;
  text-align: center;
}

ul.employee-list li a {
  text-decoration: none;
}

ul.employee-list li a:hover {
  opacity: 0.8;
}

ul.employee-list li h5 {
  margin: 0 0 2rem;
}

ul.employee-list li img {
  width: 100%;
  border-radius: 50%;
}

/* for selenium driver to click */
.employee-name {

}
