DB_HOST=${DB_HOST}
DB_DATABASE=${DB_DATABASE}
DB_PASSWORD='${DB_PASSWORD}'
DB_USERNAME=${DB_USERNAME}
DB_CLOUD_SQL_CONNECTION_NAME=${DB_CLOUD_SQL_CONNECTION_NAME}
RUBYONRAILS_DSN=${RUBYONRAILS_DSN}
RUBYONRAILS_PIDFILE=${RUBYONRAILS_PIDFILE}
RUBYONRAILS_RAILS_ENV=${RUBYONRAILS_RAILS_ENV}
RUBYONRAILS_RELEASE=${RUBYONRAILS_RELEASE}
RUBYONRAILS_SENTRY_ENVIRONMENT=${RUBYONRAILS_SENTRY_ENVIRONMENT}
SECRET_KEY_BASE=${RUBYONRAILS_SECRET_KEY_BASE}