RUBYONRAILS_DSN=${RUBYONRAILS_DSN}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_CLOUD_SQL_CONNECTION_NAME=${DB_CLOUD_SQL_CONNECTION_NAME}
RUBYONRAILS_ENVIRONMENT=${RUBYONRAILS_ENVIRONMENT}
RUBYONRAILS_RAILS_ENV=${RUBYONRAILS_RAILS_ENV}
SECRET_KEY_BASE=${RUBYONRAILS_SECRET_KEY_BASE}
PIDFILE="/tmp/puma.pid"