FLASK_RELEASE=${FLASK_RELEASE}
FLASK_DSN=${FLASK_DSN}
FLASK_REDISHOST=${FLASK_REDISHOST}
FLASK_REDISPORT=${FLASK_REDISPORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}
DB_HOST=${DB_HOST}
FLASK_ENVIRONMENT=${FLASK_ENVIRONMENT}
DB_CLOUD_SQL_CONNECTION_NAME=${DB_CLOUD_SQL_CONNECTION_NAME}
RUBY_BACKEND=${RUBY_BACKEND}
STATSIG_SERVER_KEY=${STATSIG_SERVER_KEY}