service: <SERVICE>
runtime: python312
entrypoint: ./start.sh

instance_class: F2

env_variables:
  REDISHOST: 10.251.35.179
  REDISPORT: 6379

vpc_access_connector:
  name: projects/sales-engineering-sf/locations/us-central1/connectors/empower-plant-connector
