service: ${SERVICE}
runtime: python312
entrypoint: ./start.sh

env_variables:
  REDISHOST: ${FLASK_REDISHOST}
  REDISPORT: 6379

vpc_access_connector:
  name: projects/sales-engineering-sf/locations/us-central1/connectors/empower-plant-connector
