runtime: java
env: flex
runtime_config:
  operating_system: "ubuntu22"
  runtime_version: "17"
service: ${SPRINGBOOT_APP_ENGINE_SERVICE}
env_variables:
  SPRINGBOOT_ENV: production
handlers:
- url: /.*
  script: this field is required, but ignored
beta_settings:
  cloud_sql_instances: ${DB_CLOUD_SQL_CONNECTION_NAME}
readiness_check:
  app_start_timeout_sec: 600
manual_scaling:
    instances: 1
resources:
  cpu: 1 
  memory_gb: 2 
  disk_size_gb: 10
