runtime: java
env: flex
service: <staging-application-monitoring-java>
env_variables:
  SPRINGBOOT_ENV: "production" 
handlers:
- url: /.*
  script: this field is required, but ignored
beta_settings:
  cloud_sql_instances: <cloud_sql instance name here>
readiness_check:
  app_start_timeout_sec: 600
resources:
  cpu: 2
  memory_gb: 2.3
  disk_size_gb: 10
  volumes:
  - name: ramdisk1
    volume_type: tmpfs
    size_gb: 0.5