AGENT_DSN=${AGENT_DSN}
AGENT_SENTRY_ENVIRONMENT=${AGENT_SENTRY_ENVIRONMENT}
API_HOST=0.0.0.0
API_RELOAD=false
MAX_TOKENS=1000
MCP_URL=${MCP_URL}
OPENAI_API_KEY=${AGENT_OPENROUTER_API_KEY}
OPENAI_BASE_URL=https://openrouter.ai/api/v1
