VITE_RELEASE=${VUE_RELEASE}
VITE_APP_DSN=${VUE_DSN}
VITE_FLASK_BACKEND_URL=${VITE_FLASK_BACKEND_URL}
VITE_EXPRESS_BACKEND_URL=${VITE_EXPRESS_BACKEND_URL}
VITE_SPRINGBOOT_BACKEND_URL=${VITE_SPRINGBOOT_BACKEND_URL}
VITE_ASPNETCORE_BACKEND_URL=${VITE_ASPNETCORE_BACKEND_URL}
VITE_LARAVEL_BACKEND_URL=${VITE_LARAVEL_BACKEND_URL}
VITE_RUBYONRAILS_BACKEND_URL=${VITE_RUBYONRAILS_BACKEND_URL}