body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-nav,
#body-container,
#footer > div {
  max-width: 75rem;
  margin: 0 auto;
}

#top-nav {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#home-link,
#top-right-links {
  align-items: center;
  flex: 1;
  display: flex;
}

#home-link img {
  max-height: 4rem;
  width: auto;
}

#top-right-links {
  justify-content: flex-end;
}
#top-right-links a {
  padding: 0.5rem;
}

#body-container {
  min-height: 80vh;
  margin-top: 6rem;
  padding: 0 1rem;
}

#footer {
  background: salmon;
  text-align: center;
  padding: 5vh 1rem 8vh;
}

.hero {
  padding: 30vh 2rem;
}
