name: cleanup_projects.yml
run-name: Run triggered by ${{ github.event_name }}

on:
  schedule: # every 4 hours
    - cron:  '0 */4 * * *'
    # see https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
  workflow_dispatch:

# Only run 1 workflow at a time. If new one starts abort any that are already running.
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  default-job:
    if: github.repository_owner == 'sentry-demos' # don't run in forks
    permissions:
      contents: 'read'
    runs-on: ubuntu-latest

    steps:
      - name: Check out this repository code
        uses: actions/checkout@v3
        with:
          path: empower
          fetch-depth: 0

      - name: Run cleanup scripts (more agressive for Flex instances)
        # ALWAYS TEST FIRST WITH --dry-run, BE EXTREMELY CAREFUL
        run: |
            python3 _bin/cleanup_projects.py demo ${{ secrets.SENTRY_AUTH_TOKEN_CLEANUP_PROJECTS }} --exclude react empower-tda ruby-on-rails flask flutter aspnetcore laravel spring-boot mobile-react-native express ios aws-lambda android crons-python nextjs sentaur-survivors sentaur-survivors-leaderboard ruby python-awslambda dotnet-maui sveltekit unity godot vue unreal flask-otlp angular agent mcp streaming
        working-directory: ./empower

      - run: echo "Job status is ${{ job.status }}."
