name: mock-data.yml
on:
  push:
    branches: [master, test-me-*]
  #pull_request:

jobs:
  mock-data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: docker compose build
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - run: pip install -r tda/requirements.txt
    - run: python3 -uS mini-relay/run_tests.py
    - run: tree mini-relay/classified
