name: PRs reviews reminder

on:
  schedule:
    # Every Wednesday after lunch PDT
    - cron: "0 20 * * WED"

jobs:
  pr-reviews-reminder:
    runs-on: ubuntu-latest
    steps:
    - uses: davideviolante/pr-reviews-reminder-action@v2.7.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        webhook-url: 'https://hooks.slack.com/services/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'
        provider: 'slack'
        channel: '#discuss-demo' # optional
        ignore-label: 'no-reminder'
