name: run_codecov_on_pull_request.yml
# Run Codecov on PR open or change
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  codecov:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out this repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"
      # Need to run "npm run build" command for bundle analysis: https://docs.codecov.com/docs/webpack-quick-start
      - name: Build React and run tests
        run: |
          ../deploy --env=production react -- CI=false ./build.sh
          npm test -- --coverage --reporters=jest-junit || true
        working-directory: ./react
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: frontend
          verbose: true

      - name: Run Python Tests
        run: |
          pip install -r ../requirements.txt
          pip install -U pytest
          pip install pytz
          pip install pytest-codecov
          pytest --cov=. --cov-report=xml --junitxml=junit.xml -o junit_family=legacy
        working-directory: ./flask/src
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: api
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - run: echo "Job status is ${{ job.status }}."
