name: run_codecov_on_pull_request.yml
# Run Codecov on PR open or change
on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  codecov:
    runs-on: ubuntu-20.04

    steps:
      - name: Check out this repository code
        uses: actions/checkout@v3
        with:
          path: empower
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
# Need to run "npm run build" command for bundle analysis: https://docs.codecov.com/docs/webpack-quick-start
      - name: Build React and run tests
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          CI=false ./build.sh
          npm test -- --coverage --reporters=jest-junit || true
        working-directory: ./empower/react
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: frontend

      - name: Run Python Tests
        run: |
          pip install -U pytest
          pip install pytz
          pip install pytest-codecov
          pytest --cov=. --cov-report=xml --junitxml=junit-flask.xml -o junit_family=legacy
        working-directory: ./empower/flask/src

      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: api

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: /home/runner/work/empower/empower/empower/flask/src/junit-flask.xml
          disable_search: true

      - run: echo "Job status is ${{ job.status }}."
